<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
       .centerImage
           {
        text-align:center;
        display:block;
        
           }
    </style>
    <title>error404</title>
</head>
<body>
   <center><img src="imag.jpg" alt="" width="1800" height="900"> </center> 

    <button><a href="home.html">Go back to Home</a></button>
</body>
</html>